$main-background: #f8f8f8;
// maint-text and main button
$main-text: #1b1c21;
// nav-text and subtitle
$nav-text: #7e7e82;
$book-btn: #ff3e79;

$titleBorder: #41f6d7;
$subtitleBorder: #b8ffec;

$borderColor: #eaeaea;

// call
$callBorder: #41f6d7;
