/* Header */
.header {
  &__title {
    font-size: 28px;
    font-weight: bold;
    border: 4px solid transparent;
    border-left: 4px solid $titleBorder;
    padding: 0 16px;
    margin: 24px 0;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    @media only screen and (max-width: 1439px) {
      display: none;
    }
  }
  &__btn {
    font-size: 16px;
    font-weight: 500;
    color: $main-text;
    display: flex;
    align-items: center;
    margin-left: 42px;
  }

  &__link {
    width: 40px;
    height: 40px;
    background-color: $book-btn;
    text-align: center;
    border-radius: 50%;
    padding-top: 10px;
    margin-left: 8px;

    &:hover {
      background-color: lighten($book-btn, 10%);
    }
  }

  .menu {
    list-style: none;
    margin: 0 0 24px 0;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    overflow: auto;

    @media only screen and (min-width: 1120px) {
      flex-wrap: wrap;
    }

    &__item {
      padding: 8px 16px;
    }

    &__link {
      text-decoration: none;
      text-wrap: nowrap;
      font-size: 16px;
      font-weight: medium;
      color: #7e7e82;
    }

    &__item--active {
      background-color: #fff;
      border: 2px solid #b8ffec;
      border-radius: 6px;
    }
  }
}
